# Ignorar todo
*

# Excepciones
!.gitignore
!/poky/
!/poky/meta-rpi-krlos/
!/poky/build/
!/poky/build/conf/

# Archivos específicos (opcional - más restrictivo)
!poky/build/conf/*.conf
!poky/meta-rpi-krlos/**/*
